nav {
  max-width: 900px;
  margin: 0 auto 50px auto;
  background: #ccc;
  padding: 50px;
}

section {
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-gap: 50px;
  grid-template-columns: repeat(12, 1fr)
}

article {
  grid-column: span 8;
  background: #ccc;
  padding: 50px;
}

aside {
  grid-column: span 4;
  background: #ccc;
  padding: 50px;
}

@media screen and (max-width: 900px) {
  article {
    grid-column: span 12;
  }

  aside {
    grid-column: span 12;
  }
}
