<div class="a">
  <div class="b"></div>
</div>

<style>
  .a {
    height: 100px;
    width: 100px;
    border: 1px solid #ff0000;
  }

  .b {
    height: 25px;
    width: 25px;
    padding: 80px;
    border: 1px solid #0000ff;
  }
</style>
